label {
	padding: 0;
	margin: 0;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.websections {
	padding-top: 11px;
	padding-bottom: 11px;
}

.course {
	background-color: #FFFFF;
}

.company {
	background-color: #DEB887;
}

.participants {
	background-color: #F5F5F5;
}

.submit {
	background-color: #FFFFF;
}